<h1 class="text-center">Tours</h1>

<hr />

<% if user_signed_in? %>
  <div class="row editor-toolbar">
    <%= link_to "Create Tour", new_tour_path, :class=> ["fetal-button", "create-button", "btn-pill"] %>
  </div>
<% end %>

<ul class="list-group">
  <% @tours.each do |tour| %>
  <div class="col-xs-12 col-md-6 col-lg-4 text-center">
    <%= link_to tour_path(tour), :class => "tour-link" do %>
    <span class="tour-label">
      <%= tour.name %>
    </span>
    <div>
      <%= total_pictures(tour) %> Picture<% if total_pictures(tour) != 1 %>s<% end %>
    </div>
    <div class="tour-item">
      <div class="thumbnail">
       <% if user_signed_in? %>
          <%= button_to "delete", tour_path(tour), class: "btn btn-danger btn-xs tour-delete" , method: :delete , data: {confirm: "Really delete #{tour.name}?"} %>
        <% end %>
        <% if tour.galleries.length > 0 %>
          <div class="thumbnail-crop">
            <% if tour.cover == nil %>
              <%= image_tag tour.galleries[0].pictures[0].image.url(:thumb) %>
            <% else %>
              <%= image_tag get_cover(tour) %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div>
        <table class="table tour-thumbnail-table">
          <tr>
            <th>Location</th>
            <td><%= tour.location %></td>
          </tr>
          <tr>
            <th>Dates</th>
            <td><%= tour.date %></td>
          </tr>
          <tr>
            <th>Tourers</th>
            <td><%= tour.tourers %></td>
          </tr>
        </table>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</ul>