<h1 class="text-center">Tours</h1>

<hr />

<% if user_signed_in? %>
  <div class="editor-toolbar">
    <div>
      Editor Toolbar
    </div>
    <%= link_to "Create Tour", new_tour_path %>
  </div>
<% end %>

<ul class="list-group">
  <% @tours.each do |tour| %>
  <div class="col-xs-6 col-sm-4 col-md-3 text-center tour-item">
    <%= link_to tour_path(tour) do %>
      <span class="tour-label">
        <%= tour.name %>  
      </span>
      <div class="thumbnail" style="margin: auto;">
       <% if user_signed_in? %>
          <%= button_to "delete", tour_path(tour), class: "btn btn-danger btn-xs tour-delete" , method: :delete , data: {confirm: "Really delete #{tour.name}?"} %>
        <% end %>
        <% if tour.galleries.length > 0 %>
          <div class="thumbnail-crop">
            <%= image_tag tour.galleries[0].pictures[0].image.url %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</ul>