<h1> FetalSteve.com </h1>
<%= link_to "Home", root_path %>
<%= link_to "Story",  story_path %>
<%= link_to "Tours", tours_path %>
<% if user_signed_in? %>
<%= link_to("Log Out", destroy_user_session_path, :method => :delete) %>
<% else %>
<%= link_to "Sign In", new_user_session_path %>
<% end %>

<h2>A Brief History of Death and Destruction</h2>

<%= image_tag "story_page/steveprofile.jpg" %>

<h2>At A Glance</h2>
<table>
<tr>
<td>Full Name:</td>
<td>Steve Edwin Copernicus</td>
</tr>
<tr>
<td>Origin:</td>
<td>Carolina Science and Math, Catalog</td>
</tr>
<tr>
<td>Product Number:</td>
<td>CE-24-7120</td>
</tr>
<tr>
<td>Birthday:</td>
<td>N/A</td>
</tr>
<tr>
<td>Delivery Day:</td>
<td>January 25, 2001+1</td>
</tr>
<tr>
<td>Sex:</td>
<td>Omnipotent Being</td>
</tr>
<tr>
<td>Partners:</td>
<td>"Fetal Lightning" and "Fetal Thunder"</td>
</tr>
<tr>
<td>Height:</td>
<td>a commanding 16 inches</td>
</tr>
<tr>
<td>Weight:</td> 
<td>37.64 grams</td>
</tr>
<tr>
<td>Interests:</td>
<td>dancing, smoking, and drinking heavily</td>
</tr>
</table>

<h2>Humble Beginnings</h2>
<%= image_tag "story_page/thefinalpic.jpg" %>
<p>
Despite the occasional reminder that we are preparing for an evil AP test, Mrs. Shea's AP Biology class tends to be fairly laid back. Don't get me wrong, though, for there are days that exhaust me beyond death itself before I even get out of there. No, not really. We have it pretty easy. I've seen AP Chemistry students come out of class sweating, complaining, and longing for their life to come to an end. Anyway, it was one of these easy days with the whole second period to procrastinate and flirt with destiny when everything began... 
</p>
<p>
Six of us were gathered around a science catalog because we needed an excuse to put off the homework we had received. It was a unique combination of people, a combination that creates magic. We all had our differences, from skinny geeks to the jock wrestlers to the slackers to the criminally insane. We all, however, had one thing in common. We loved to goof off, attract attention, and do anything to get out of work. One can only look at so many pre-dissected creatures and models of human organs before one gets bored, but fate stepped in and gave these blessed six disciples something to believe in. The page was turned, and every index finger pointed in unison to a picture in the catalog, a picture of hope, peace, and happiness. An articulated human fetal skeleton stood before us, and a ray of sunshine shot through the window and lit up the sacred picture. Five of us chuckled and snickered, but the sixth, a person we shall call "Alan" to protect his identity, quickly shouted, "We should get THAT!" Although only being a fraction of a second, he seemed to pause and ponder the possibilities, and then suggested, "We could name him Steve."
</p>

<h2>Good One!</h2>
<p>
It was quite possibly the funniest thing we had heard that week, and so we laughed uncontrollably. We all threw out some backup jokes to try improving the humor that was extracted from this, and the name "Fetal Steve" came out of it. We continued laughing obnoxiously until we ran out of breath, and as one of the six was wiping a tear from his eye, he said with a serious tone, "We should get Fetal Steve. How much is He?" Alan responded with all numbers as if processing the price himself, "Five-eighty-two seventy-five." We all agreed unanimously that $600 was an absurd amount of money for a 16-inch plastic skeleton. Fetal Steve gave us the hardest laugh we had enjoyed in a while though, so we couldn't complain. 
</p>

<%= image_tag "home_page/humanremains.jpg" %>
<p>
Time continued to carry us through the year, just as Fetal Steve continued to be a class joke that entered the lectures daily. Test scores went off the charts, and we were quick to claim it was the power of Fetal Steve. Jokes were built on jokes, and a "Current Fetal Steve Fund" scale was drawn on the board to mock the United Way Fund. It was at zero, of course, because who would ever start saving up $600 for an articulated human fetal skeleton? One of us would, actually, and we will call him "Luke" to protect his identity. He fished out a plastic beaker from Mrs. Shea's archaic collection of biological junk, and dropped in the first twenty-six cents into the Fetal Steve Fund. We were well on our way.
</p>

<h2>Troubled Waters</h2>
<p>
Anyone that hasn't graduated from high school has absolutely no concept of the value of money. We work and work and work, but we still throw it out the window at stupid things, such as food and gasoline. The six of us had something worth aiming for now, and that something was Fetal Steve. None of us had any clue what $600 was, but we continued to bring in all the spare change we had sitting around. We were approaching $50, and things seemed to be stalling. We had brought in all of our loose change, and instead of it rotting and stagnating at home, it was at school in a plastic beaker. I know for a fact not all of us were actually planning on making it anywhere, for I was one of them. I thought it would level out, and we would have fifty dollars of our change all mixed up into one heap. These were the hard times.
</p>
<p>
We had isolated ourselves from the rest of the class. We plowed through the opposition and criticism of twenty other people telling us how stupid and weird we were. We put up with the fact that we had not even reached ten percent. Test scores plummeted to record-breaking lows, but we trudged through all of this because of one thing. We had faith. Fetal Steve was there for us, and He would help us get through it all. We persevered and gripped on to our pride, hoping that if we kept up with it, Fetal Steve would one day become the cool thing to do.
</p>

<h2>The New Era</h2>
<%= image_tag "story_page/tattoo.jpg" %>
<p>
For some reason, it was a really warm winter, and it had done nothing but rain through December. Why? I don't know, but I do know that on December 14th, something spectacular occurred. The Fetal Steve Fund had broken $100. Although only being a sixth of the way, sociological weirdness kicked in and Fetal Steve was the coolest thing since sliced bread. It may have been the cottage cheese Mrs. Shea had been processing in the back room, but people were merry and gay. They loved and supported Fetal Steve like it was their own creation. They were quick to offer suggestions on how to spend the money we had raised while taking their criticism. They joked and played like they were one of us. Then again, they all were one of us. Fetal Steve came through and brought people together after difficult times. The Holy Book of Fetal Steve teaches not to hold grudges, and we welcomed the rest of the class with open arms to our weird and unusual ways. 
</p>

<p>
We even decided to spread the happiness to the AP Chemistry by offering them the privilege of donating to the Fetal Steve Fund. They scooped up the opportunity like a hungry falcon and offered $2 per person for cookies up the yin-yang. We agreed to the deal, of course, and brought in an enormous bag of cookies. We didn't exactly get two dollars per person, but we did end up with a respectable $35. We were happy with this. Then the true miracle happened.
</p>

<h2>Steve's Christmas</h2>
<p>
It was the last day of school before Christmas break. Or Winter break, depending on if you wish to offend the non-Christians of the world or not. I think I will stick with Winter break because the non-Christians outnumber the Christians by far. Anyway, we were pretty excited about the $35 from AP Chemistry to begin with, and then the fact that it was the last school day of the year was almost pushing us over the edge. Mrs. Shea, in her threatening and scary way, desperately attempted to calm us all down in order to practice the tradition of AP Biology Christmas Caroling. We practiced our biologically phrased Christmas songs and left to carry on the tradition. Only this year was done a little differently. We were asking for Fetal Steve donations.
</p>
<p>
We were unstoppable. We sang, chanted "Fetal Steve!" incessantly with the highest voices we could muster, and people actually reached into their pockets and gave us money with which to purchase an articulated human fetal skeleton we had named "Steve." If I would not have seen it, I don't think I could have believed it. Class after class gave us spare change and dollar bills. The Principal himself and the Assistant Principal gave us ten dollars each. The power of Fetal Steve flowed through every one of us. We had collected over $100 in three days, and no one could believe it. At the end of the day, we had a grand total of $228.46, more than double our goal. Merry Christmas to Fetal Steve and to Fetal Steve a good night.
</p>

<h2>The Final Stretch</h2>
<p>
Winter Break always gives people a chance to reflect on the accomplishments of the year and to reflect on reality. After the exciting hubbub of the last day of school, a more relaxing schedule took over, and the previous accounts appeared surreal. This human fetal skeleton was the dumbest idea ever when I thought about hard enough, but I knew it would be resurrected once again with the onset of school. And alas, as with most breaks, the Winter Break passed quickly and the insanity of education geared up for action once again. During the three days of the first week back, we broke $300. During the next week, we broke $400. The donations primarily came from The Six, and the donations grew in size. It almost felt like a car payment, just something you had to do. You didn't question it. You just abided by the Word. 
</p>

<%= image_tag "story_page/seniorzacandsteve.jpg" %>

<p>
Then, after three or so months of struggle, gonads, and strife, the day came. On January 16, 2001+1, each of The Six donated a modest $9 to the Fetal Steve Fund, pushing the Fund well over the goal to $627.75. This final organized donation will be known from this point forward as The Nines of Six, almost sounding like a Poker hand. This concluding mark was not met with celebration, however, as was the $100 mark, but The Six didn't care. This had been our crusade. We fought through the resistance, the pain, and the crucifixions. We learned that this fund was about more than a mere plastic skeleton. It was about dreaming the impossible, making priceless memories, and pursuing that which only the most courageous could attempt. That'll do, Steve. That'll do.
</p>

<h2>The Arrival</h2>
<p>
The long awaited day came on a Friday. Friday the 25th, actually. January 25th, 2001+1, to be exact. And it's no coincidence that it lands exactly one month after the birth of the last Son of God. Ever since the money order was sent in, AP Biology seemed to have no purpose and no flavor. On January 25th, we finished up another long first period of a lecture on evolution and natural selection. During the four minutes of break, we finished up some homework and chatted about the lecture, and then Luke walked up to us. He carried a fairly large box, with which he appeared to be struggling. It had "Carolina" in big blue letters on the outside, and with the biggest smile I've seen in my life, Luke shouted, "Hey, guess what's in here, guys!" Everything inside of me that concerned or worried me before, from my grades to friends to work to life, vaporized into nothingness as Luke continued triumphantly, "It's Fetal Steve!" Alan gave out barbaric screams that would have scared Attila, and everyone gathered around the box. A second box was pulled from the first, and this is when we noticed the unusual caution label on the box. Upon opening the second box, Fetal Steve was pulled from his coffin and held up for all to see. Balls of fire blasted from his eye sockets and bolts of lightning arced from his fingertips. We all stood in awe, admiring his omnipotence.
</p>

<p>
We wanted to share our joy with other people, and decided to take Steve to AP Chemistry. An articulated human fetal skeleton was presented to them, but they remained unimpressed. "That's it? You paid six hundred dollars for that?" And don't worry; these feelings were quite universal, spreading beyond those of AP Chemistry. A few of our own AP Biology peers felt similarly. As a matter of fact, the only ones that appeared to fully appreciate this piece of plastic were those that conceived it all, The Six. In a beautiful and poetic circle, the six that began it all finished it all. The spirit of The Six remained constant, if not strengthened, through the whole experience. It was not, however, the resistance and opposition that caused the strengthening, but the isolation. We isolated ourselves from the main path, and we never regretted a step. In the words of Robert Frost, "Two roads diverged in a wood, and I - I took the one less traveled by, and that has made all the difference." Thanks Bob, and thank you Steve. 
</p>

<%= image_tag "story_page/six2004.jpg" %>
