<div class="col-xs-12">
  <h1 class="text-center"> Guestbook </h1>
</div>

<hr />

<div class="col-xs-offset-1 col-xs-10 comment-well">
  <div class="row">
    <ul class="list-group">
      <% @guest_comments.each do |comment| %>
        <li class="list-group-item"> 
          <div class="comment-top">
            <span class="author-name"><%= comment.author %></span>
            <span class="comment-posted"><%= formatDate(comment.created_at) %></span>
          </div>
          <div class="comment-bottom">
              <div class="fr-view">
                <%= raw comment.description %>
              </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-xs-offset-1 col-xs-10">
  <%= form_for(@guest_comment, html:{ multipart: true }) do |f| %>
    <div class="form-group">
      <%= f.label :author, :class => 'control-label' %>
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => 'control-label' %>
      <%= f.text_area :description, :class => "form-control", id: "wysiwyg" %>
    </div>
    <%= recaptcha_tags %>
    <div class="form-actions">
      <%= f.submit "Create Comment", :class => 'btn-pill fetal-button submit-button' %>
    </div>
  <% end %>
</div>


<script>
    $('#wysiwyg').froalaEditor({
      inlineMode: false,
      toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'emoticons', '|', 'paragraphFormat', 'align', 'undo', 'redo', 'html'],
      heightMin: '200px'
    })
</script>