<div class="col-xs-12">
  <h1 class="text-center"> Guestbook </h1>
</div>

<hr />

<div class="col-xs-offset-1 col-xs-10 comment-well">
  <div class="row">
    <ul class="list-group">
      <% @guest_comments.each do |comment| %>
        <li class="list-group-item"> 
          <div class="comment-top">
            <span class="author-name"><%= comment.author %></span>
            <span class="comment-posted"><%= formatDate(comment.created_at) %></span>
            <% if current_user %>
              <%= link_to "Delete", guest_comment_path(comment), :class=> ["fetal-button", "delete-button", "btn-pill", "pull-right"], method: :delete, data: {confirm: "Really delete Comment by #{comment.author}?"} %>
            <% end %>
          </div>
          <div class="comment-bottom">
            <%= raw comment.description %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-xs-offset-1 col-xs-10">
  <%= form_for(@guest_comment, html:{ :id => "form", multipart: true }) do |f| %>
    <div class="form-group">
      <%= f.label :author, :class => 'control-label' %>
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => 'control-label' %>
      <%= f.text_area :description, :id=>'commentDesc', :class => 'hidden-text-area' %>
      <div id="quill-editor">
      </div>
    </div>
    <%= recaptcha_tags %>
    <div class="form-actions">
      <%= f.submit "Create Comment", :class => 'btn-pill fetal-button submit-button' %>
    </div>
  <% end %>
</div>

<script>
  var quill = new Quill('#quill-editor', {
    theme: 'snow'
  });

  var form = document.querySelector('#form');

  form.onsubmit = function() {
    var postContentInput = document.querySelector("#commentDesc");
    postContentInput.value = quill.root.innerHTML;
  }
</script>