    <%= form_for(@post, html: { multipart: true}) do |f| %>
   <ul>
    <% @post.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :title, :class => 'control-label' %>
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :date, :class => 'control-label' %>
        <%= f.text_field :date, :class => 'form-control' %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :description, :class => 'control-label' %>
        <%= f.text_area :description, :class => "form-control", id: "wysiwyg" %>
      </div>
    </div>
    <div class="col-xs-12">
      <%= f.submit :class => ['pull-right', 'btn-pill', 'fetal-button', 'submit-button'] %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            posts_path, :class => ['pull-right', 'btn-pill', 'fetal-button', 'cancel-button'] %>
    </div>
    <% end %>

</div>

<script>
    $('#wysiwyg').froalaEditor({
      inlineMode: false,
      toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'emoticons', '|', 'paragraphFormat', 'align', 'undo', 'redo', 'html'],
      emoticonsStep: 8,
      heightMin: '200px'
    })
</script>