<div class="row">
  <h1 class="text-center"> Placenta </h1>

  <hr />

  <%= render 'posts_editor_toolbar' %>
  <div class="col-offset-xs-1 col-xs-10">
    <h3> Posts </h3>
    <ul>
      <% @posts.each do |post| %>
      <li>
        <%= post.title %><br />
        <%= post.description %><br />
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Really delete #{post.title}?"} %> 
      </li>
      <% end %>
    </ul>
  </div>
</div>
