<div class="row">
  <div class="col-xs-12" style="margin-bottom: 20px;">
    <div class="col-xs-12 col-md-6 no-col-padding text-center">
      <h2>The Travels of Steve Edwin Copernicus </h2>
      <%= image_tag "home_page/fetalstevemap.jpg", id: "steveMap" %>
      <hr class="visible-xs visible-sm" />
    </div>
    <div class="col-xs-12 col-md-6" id="welcomeSum">
      <h3>Welcome</h3>
      <p class="format-paragraph">
        Welcome to FetalSteve.com, home of 'Fetal' Steve Edwin Copernicus. At 11 years old, Steve is the oldest fetus ever! And having been all around the world, he's the most well-traveled fetus, as well. <%= link_to "See for yourself.", tours_path %> And if you want to know just why, and how 6 high school students raised over $600 dollars to buy Fetal Steve, then check out the <%= link_to "Story Section.", story_path %>
      </p>
    </div>
  </div>
</div>

<br />

<div class="row rand-pictures">
  <div class="col-xs-12">
    <h2>Random Pictures</h2>
      <div class="col-sm-6 col-lg-3 text-center">
        <div data-toggle="modal" data-target="#mountSteveMore">
          <%= image_tag "home_page/mountstevemore_circle.png", class: "circle-pics" %>
        </div>
        <div class="caption-text">
        ...and then Congress immediately declined our proposal.
        </div>
      </div>

      <div id="mountSteveMore" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="image-row row">
              <i class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal" onclick="defaultBodyPosition();">
              </i>
              
            <div class="img-modal-container text-center">
              <%= image_tag "home_page/mountstevemore.jpg"%>
              <h4>...and then Congress immediately declined our proposal.</h4>
            </div>
          </div>
        </div>
      </div>



      <div class="col-sm-6 col-lg-3 text-center">
        <div data-toggle="modal" data-target="#myPalisLit">
          <%= image_tag "home_page/thatsmypalandheisafuckingbadasssoeatitprickfuck_circle.png", class: "circle-pics" %>
        </div>
        <div class="caption-text">
        How do we know he is really Odysseus? This is how.
        </div>
      </div>

      <div id="myPalisLit" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="image-row row">
              <i class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal" onclick="defaultBodyPosition();">
              </i>
            <div class="img-modal-container text-center">
              <%= image_tag "home_page/thatsmypalandheisafuckingbadasssoeatitprickfuck.jpg" %>
              <h4>How do we know he is really Odysseus? This is how.</h4>
            </div>
          </div>
        </div>
      </div>
        <div class="col-sm-6 col-lg-3 text-center">
          <div data-toggle="modal" data-target="#humanRemains">
            <%= image_tag "home_page/humanremains_circle.png", class: "circle-pics" %>
            <div class="caption-text">
              Don't Ask.
            </div>
          </div>
        </div>
        <div id="humanRemains" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="image-row row">
                <i class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal" onclick="defaultBodyPosition();">
                </i>
              <div class="img-modal-container text-center">
                <%= image_tag "home_page/humanremains.jpg" %>
                <h4>Don't Ask.</h4>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-lg-3 text-center">
          <div data-toggle="modal" data-target="#scream">
            <%= image_tag "home_page/scream_circle.png", class: "circle-pics" %>
          </div>
          <div class="caption-text">
            Delighting children around the world!
          </div>
        </div>
        <div id="scream" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="image-row row">
                <i class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal" onclick="defaultBodyPosition();">
                </i>
              <div class="img-modal-container text-center">
                <%= image_tag "home_page/scream.jpg" %>
                <h4>Don't Ask.</h4>
              </div>
            </div>
          </div>
        </div>
        <div id="scream" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content" style="width: 400px;">
              <div class="modal-body text-center">
                <%= image_tag "home_page/scream.jpg" %>
              </div>
              <div class="modal-footer text-right">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> 
      </div>
  </div>
</div>


<div class="row">
  
  <div class="col-xs-1">
  </div>

  <div class="col-xs-10">
    <h2>Praise</h2>

    <p>"This is quite possibly the greatest website of all time. The 'fundraising' story is absolute genius. I want my own Fetal Steve."</p>
    <em>--psychedelicfolk--</em>

    "The masterstroke was giving him a tie. The combination of fetal skeletons and formal wear is pure genius."</p>
    <em>--Ronnie James Devo--</em>

    <p>"I now view you 6 people as even more sickos than I previously did. You guys need to get a life...seriously. Maybe you'll find something better to do with your lives soon, and stop playing with a stupid little piece of plastic."</p>
    <em>--What Doesitmatter--</em>

    <p>
    "My new heroes. Where were these guys when I was in school? They are geniuses, and honestly, I think Fetal Steve has just changed my whole perspective on everything. Oh, and if these guys aren't getting laid, they should be."</p>
    <em>--Redhedd73--</em>

    <p>"You know those nerds in high school no one really paid that much attention to? They were doing stuff like this while the rest of class played catch up ... Fetal Steve rocks."</p>
    <em>--Diogenes--</em>

    <p>"This is extraordinarily cool."</p>
    <em>--Ellid--</em>

    <p>"I have now discovered that some of the strangest humorists in the world live right here in Ashland."</p>
    <em>--Michael Donatini--</em>

    <p>"This sad little display of humor has shown me that there are some really sad and sick people in Ashland. Sure, it may be a funny AP Bio joke or whatever- but personally I don't find your stupid piece of plastic funny at all. I know that there isn't much to do in Ashland, but once you get into the real world and college, you'll find out there isn't time for child's play."</p>
    <em>--soaringphoenix749@hotmail.com--</em>

    <p>"The shirts are chick magnets."</p>
    <em>--Calastigro--</em>

    <p>"Si, es incredible. Antes, yo vivi en las basura del restaurante de 'El Rey de hamburguesas' y tuve un dolar a mi nombre. Pero cuando conoci el escaleto, todo cambia. Yo vi la luz. Ahora, estoy el presidente de Cuba."</p>
    <em>--Tomas--</em>

    <p>"This website is mad dope yo! It made me laugh insanely. I hope you tour in NJ some day. It gives me hope for the future that such a small,plastic fetus named Steve can bring so much joy to the world! Pee-ice out!"</p>
    <em>--Scott--</em>

    <p>"Perhaps for the only time ever, I've seen a site ... and jealously wished that I had thought of it. The picture of the toddler shrieking on their front page is a classic."</p>
    <em>--Mayor_McJesus--</em>
  </div>
  
  <div class="col-xs-1">
  </div>
</div>