<%= form_for [@tour, @gallery], :html => { :class => ['form-horizontal', 'directUpload'], multipart: true } do |f| %>
  <ul>
    <% @gallery.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

  <div class="col-xs-offset-1 col-xs-10">
    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %>:
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => 'control-label' %>:
      <%= f.text_field :description, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "Add Pictures", :class => 'control-label' %>:
      <%= file_field_tag "images[]", type: :file, multiple: true, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :cover
    </div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  tour_path(@tour), :class => 'btn btn-warning' %>
    </div>
  </div>
<% end %>
