<% @tour.galleries.each_with_index do |gallery, i| %>
  <ul>
    <div class="gallery-header col-xs-12">
      <h3 class="gallery-title"> 
        <% if gallery.name != "" %>
          <%= gallery.name %>
        <% else %>
          Gallery #<%= i + 1 %>
        <% end %>
      </h3>
      <% if current_user %>
      <%= link_to "delete", [gallery.tour, gallery], method: :delete, :class=> ["fetal-button", "delete-button", "btn-pill"], data: {confirm: "Really delete this gallery?"} %>
      <%= link_to "update", edit_tour_gallery_path(@tour.id, gallery.id), :class=>["fetal-button", "update-button", "btn-pill"] %>
      <% end %>
    </div>  
    <% gallery.pictures.order(created_at: :asc).each_with_index do |pic, n| %>
      <div class="col-xs-6 col-sm-4 col-md-3 text-center">
        <div class="thumbnail-modal" onclick="showModal('<%= pic.id %>');">
          <div class="thumbnail" style="margin: auto;">
            <div class="thumbnail-crop">
              <div class="number-circle"><span class="image-number"><%= find_picture_number(@tour, pic.id)%></span></div>
              <%= image_tag pic.image.url(:thumb) %>
            </div>
          </div>
        </div>
      </div>

      <div id="<%= pic.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="image-row row">
              <i class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal" onclick="defaultBodyPosition();">
              </i>
              <i class="glyphicon glyphicon-chevron-left" data-dismiss="modal" aria-hidden="true" data-toggle="modal" data-target="#<%= last_picture(pic.gallery, pic) %>">
              </i>
              <i class="glyphicon glyphicon-chevron-right" aria-hidden="true" onclick="openNextModal('<%= pic.id %>', '<%= next_picture(pic.gallery, pic) %>');" data-toggle="modal">
              </i>
            <div class="img-modal-container text-center">
              <%= image_tag pic.image.url %>
            </div>
          </div>
          <div class="row pic-comments">
            <div class="col-xs-12">
              <h4> Comments </h4>
              <hr />
            </div>
            <div class="col-xs-offset-1 col-xs-10 comment-well">
              <div class="row">
                <ul class="list-group">
                  <% pic.comments.each do |comment| %>
                    <li class="list-group-item"> 
                        <div class="comment-top">
                          <span class="author-name"><%= comment.author %></span>
                          <span class="comment-posted"><%= formatDate(comment.created_at) %></span>
                        </div>
                        <div class="comment-bottom">
                          <div class="fr-view">
                            <span><%= raw comment.description %></span>
                          </div>
                        </div>
                    </li>
                  <% end %>
                </ul>
              </div>
              <%= link_to "Leave a Comment", picture_path(pic.id), :class => ["fetal-button", "create-button", "btn-pill"]%>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </ul>
<% end %>
<script>
  function showModal(modal_id) {
    $('#'+modal_id).modal("show");
    setTimeout(function() {
      createRecaptcha(modal_id);
    }, 100)
  }

  function createRecaptcha(id) {
    $('#recaptcha-container-'+id).html('<div class="g-recaptcha " data-sitekey="6LfaLS8UAAAAAMw-lSIX0_EjtXZKTm-qWhpKGbDN"></div>')
  }

  function openNextModal(current_id, next_id) {
    $('#'+current_id).modal('hide');
    $('#'+next_id).modal('show');

    if ((($("#"+next_id).data('bs.modal') || {}).isShown) === true) {
      $(document.body).css('position', 'fixed');
      $('.modal').css('overflow-x', 'hidden');
      $('.modal').css('overflow-y', 'auto');
    }
  }; 

    function defaultBodyPosition() {
      $(document.body).css('position', 'static');
  };
  
</script>