<% @tour.galleries.each_with_index do |gallery, i| %>
  <ul>
    <div class="gallery-header col-xs-12">
      <h3 class="gallery-title"> 
        <% if gallery.name != "" %>
          <%= gallery.name %>
        <% else %>
          Gallery #<%= i + 1 %>
        <% end %>
      </h3>
      <% if current_user %>
      <%= link_to "delete", [gallery.tour, gallery], method: :delete, :class=> ["fetal-button", "delete-button", "btn-pill"], data: {confirm: "Really delete this gallery?"} %>
      <%= link_to "update", edit_tour_gallery_path(@tour.id, gallery.id), :class=>["fetal-button", "update-button", "btn-pill"] %>
      <% end %>
    </div>  

    <%= render 'galleries/picture_modal', :gallery => gallery %>
  </ul>
<% end %>
