<% @tour.galleries.each do |gallery| %>
  <ul>
    <% gallery.pictures.each do |pic| %>
      <div class="col-xs-6 col-sm-4 col-md-3 text-center">
        <div class="thumbnail-modal" data-toggle="modal" data-target="#<%= pic.id %>">
          <div class="thumbnail" style="margin: auto;">
            <div class="thumbnail-crop">
              <%= image_tag pic.image.url %>
            </div>
          </div>
        </div>
      </div>
      <div id="<%= pic.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div>
            <i class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal" onclick="defaultBodyPosition();">
            </i>
            <i class="glyphicon glyphicon-chevron-left" data-dismiss="modal" aria-hidden="true" data-toggle="modal" data-target="#<%= last_picture(pic.gallery, pic) %>">
            </i>
            <i class="glyphicon glyphicon-chevron-right" aria-hidden="true" onclick="openNextModal('<%= pic.id %>', '<%= next_picture(pic.gallery, pic) %>');" data-toggle="modal">
            </i>

            <div class="img-modal-container text-center">
              <%= image_tag pic.image.url %>
            </div>
          <div class="row">
            <div class="col-xs-12 pic-comments">
              <h4> Comments </h4>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </ul>
<% end %>
<script>
  function openNextModal(current_id, next_id) {
    $('#'+current_id).modal('hide');
    $('#'+next_id).modal('show');

    if ((($("#"+next_id).data('bs.modal') || {}).isShown) === true) {
      $(document.body).css('position', 'fixed');
      $('.modal').css('overflow-x', 'hidden');
      $('.modal').css('overflow-y', 'auto');
    }
  }; 

    function defaultBodyPosition() {
      $(document.body).css('position', 'static');
  };
  
</script>