<!DOCTYPE html>
<html>
  <head>
    <title>FetalSteve</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
  <h1> FetalSteve.com </h1>
    <%= link_to "Home", root_path %>
    <%= link_to "Story",  story_path %>
    <%= link_to "Tours", tours_path %>
    <a href="http://www.fetalsteve.com/wordpress/">Placenta</a>
    <a href="http://www.fetalsteve.com/cgi-bin/store/cpshop.cgi">Store</a>
    <%= link_to "Placenta (In Utero)", placenta_path %>
    <% if user_signed_in? %>
    <%= link_to("Log Out", destroy_user_session_path, :method => :delete) %>
    <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <% end %>

      <% flash.each do |k, v| %>
      <div class="alert alert-<%= k %>"><%= v %></div>
      <% end %>

  </div>
    
    <div class="container">
    <%= yield %>
    </div>
  <div class="container-fluid">
  <%= render '/posts/placentanav' %>
  </div>
  </body>
</html>
